body {
    font-family: Roboto, sans-serif;
    font-size: 18 px;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
* {
    box-sizing: border-box;
}
.header {
    border: 1px solid purple;
}
.main {
    border: 1px solid purple;
}
.footer {
    border: 1px solid purple;
}
.conteiner {
    max-width: 1440px;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
}
table.border td, table.border th {
    padding: 5 px;
    border: 1 px solid #c0c0c0;
}
table.border th {
    background: #e0e0e0;
}